/*
    !-- INDICATING DEFAULT STYLING FOR WEBPAGE
  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 999;
}

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box ;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

html{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    appearance: none;
    display: none;
}

.hero{
    background-image: url('/images/home-bg.jpg');
    background-size: cover;
    width: 100%;
    height: 38rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/*
    INDICATING MOBILE SCREENS - MOBILE, GALAXY ETC
  */
.title1,
.title2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tt1{
    margin-bottom: 10px;
    color: grey;
}

.tt2{
    margin-bottom: 30px;
    font-size: 30px;
    color: orangered;
}

.title3{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn{
    font-size: 20px;
    background-color: orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
    transition: .7s ease all;
}
.btn:hover{
    background-color: white;
    color: orangered;
    
}

.container {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
}
.gen_bg_container{
    padding-left: 8px;
    padding-right: 8px;
    background: #fff;
}
nav {
    margin-top: 8px;
    margin-bottom: 8px;
}
nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding-top: 10px;
} 
nav div .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 16px;
    color:black;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
} 
nav div .hamMenu{
    display: none;
} 
nav div .hamMenu img{
    display: flex;;
    justify-content: center;
    align-items: center;
    width: 100px;
    box-sizing: border-box;
    max-width: 24px;
    color:black;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
}

nav div .menu{
    align-items: center;
    box-sizing: border-box;
    max-width:auto;
    color:black;
}  
nav div .menu ul{
    display: flex;
    align-items: center;
    width: auto;
    gap: 20px;
    max-width:auto;
    color:black;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
    list-style: none;
    border: none;
}  
nav div .menu ul li{
    padding: 2px 8px;
}  
nav div .menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}  

.desktop_menu{
    margin-left: 100px;
    margin-right: 50px;
    text-transform: uppercase;
}

.desktop_menu ul li:hover a,
.desktop_menu ul li:active a{
    color: orangered;
}

.desktop_menu{
    display: none;
}
.show{
    max-height: 100% !important;
}
.mobile_menu{
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background: #fff;
    width: auto;
    width: 100%;
    height: fit-content;
    max-height: 0%;
    overflow: hidden;
    transition: .8s ease all;
    padding: 0;
    height: 100vh;
    height: 100%;
    padding-top: 40px;
}
.mobile_menu ul{
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 100%;
   margin-top: 20px;
}
.mobile_menu ul li:hover a{
    color: orangered;
}

.mobile_menu ul li {
  width: 100%;
  padding: 10px 0;
  text-align: left;
}

.mobile_menu {
 width: 100%;
 height: fit-content;
 padding-bottom: 20px;
 z-index: 99;

}
nav div .hamMenu {
    display: block;
    z-index: 999;
}
nav div .hamMenu :nth-child(2) {
    display: none;
    z-index: 999;
    
}
.logo {
    z-index:999;
}
nav div .hamMenu :nth-child(1):hover,
nav div .hamMenu :nth-child(2):hover {
    background: #ccc;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.sub_hero {
    width: 100%;
    margin: auto;

}
.main_title {
    text-align: center;
}
.main_title .title1, 
.main_title .title2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px !important;
}
.main_title .title3{
    font-size: 16px;
    width: 70%;
    margin: auto;
    line-height: 28px;
} 

.btn {
    font-size: 20px;
    padding: 15px 50px;
    font-weight: 700;
    margin-top: 30px;
}


/* MY WORK SECTION */
.myWork {
    width: 100%;
    height: auto;
    padding: 100px 0;
}
.myw_sib{
    padding: 0 8px;
}
.myw_sib .title h1 {
    margin: 30px auto;
    font-size: 60px;
    font-weight: 500;
    color: #303030;
}

.main_box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main_box .box1,
.main_box .box2,
.main_box .box3{
    padding: 50px 20px;
    border: 1px solid black;
    text-align: center;
    line-height: 1.6;
}

.main_box .box1:hover,
.main_box .box2:hover,
.main_box .box3:hover{
    border: 1px solid orangered;
}

.main_box .box1 .box_i i,
.main_box .box2 .box_i i,
.main_box .box3 .box_i i{
    font-size: 80px;
    color: #606060;
}
.main_box .box1 h3,
.main_box .box2 h3,
.main_box .box3 h3{
    margin: 30px auto;
    font-size: 25px;
    font-weight: 600;
}

.tt3{
    color: #606060;
}

.wrk_par{
    color: #606060;
}

.sub_titwork h3{
    color: orangered;
}

/* PORTFOLI0 SECTION */

input[type=radio]{
    display: none;
}
.port_title{
    margin-bottom: 50px;
}
.portfolio .port_sib .port_title .ptt{
    margin: 30px auto;
    display: flex;
    color: #303030;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
}

.portfolio{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
    padding: 0;
}

.port_sib{
    padding-left: 100px;
    padding-right: 100px;
}

.port_tabs{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap:10px;
    margin-bottom: 40px;
}

.port_tabs .all_tab:hover{
    color: white;
    transition-duration: 1s;
    background-color: orangered;
}
.port_tabs .active{
    color: white !important;
    background-color: orangered !important;
}

.port_tabs .all_tab{
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    color: #9999;
    display: flex;
    align-items: center;
    justify-content: center;
}



.port_gallary{
    height: auto;
    width: 100%;
}

.port_gly{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 0px;
}



.all_gly,
.html_gly,
.wordpress_gly,
.mobile_gly,
.photoshop_gly{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 0px;
}

.tabcontent{
    display: none;
    
}
.tabcontent .bx{
    animation-name: scalebox;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-iteration-count: 1;
    transition: .8s ease-out all;
}


/* ADDING ANIMATION TO SCALE BOXES */
@keyframes scalebox {
    0% {
        transform: scale(-1);
        /* transform: rotate(0deg); */
    }
    100% {
        transform: scale(1);
        /* transform: rotate(0deg); */
    }
}


.ativecontent,
.showcontent{
    display: grid;
}

.all_gly img,
.html_gly img,
.wordpress_gly img,
.mobile_gly img,
.photoshop_gly img
{
    width: 100%;

}

.bx1_gly:hover .ph1{
    display: block !important;   
}
.bx2_gly:hover .ph2{
    display: block !important;   
}
.bx3_gly:hover .ph3{
    display: block !important;   
}
.bx4_gly:hover .ph4{
    display: block !important;   
}
.bx5_gly:hover .ph5{
    display: block !important;   
}
.bx6_gly:hover .ph6{
    display: block !important;   
}
.bx7_gly:hover .ph7{
    display: block !important;   
}
.bx8_gly:hover .ph8{
    display: block !important;   
}
.bx9_gly:hover .ph9{
    display: block !important;   
}
.bx10_gly:hover .ph10{
    display: block !important;   
}

.port_hover{
    display: none;
    transition: 1s ease;
}
.bx{
    position: relative;
}
.port_hover div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff450096;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: auto;
    color: white;
    text-align: center;
    transition-duration: .8s;
}
/* END OF PORTFOLIO SECTION */

/* SKILLS SECTION */

.myprofile{
    margin-top: 130px;
}

.skills{
    margin-left: 15px;
    margin-right: 20px;
}

.skills .subskill .myprofile .pro_title h1,
.myskill .skl_title h1{
    margin: 30px auto;
    font-size: 60px;
    font-weight: 500;
    color: #303030;
}

.pro_title{

    margin-bottom: 50px;
}

.sub_pro_title p{
    font-size: 18px;
    color: #606060;
}

.sub_pro_title p .pro{
    font-weight: bolder;
    margin-bottom: 30px;
}

.sub_pro_title{
    display: grid;
    row-gap: 25px;
}

.bold1{
    padding-right: 60px;
}

.bold2,
.bold3,
.bold6{
    padding-right: 34px;
}

.bold4{
    padding-right: 54px;
}

.bold5{
    padding-right: 60px;
}

.bold11{
    color: orangered;
}

.bold11:hover{
    color: darkblue;
    text-decoration-line: underline;
}

.myskill .skl_title{
    margin-bottom: 50px;
}

.sub_skl_title p{
    font-size: 17px;
    line-height: 30px;
    color: #606060;
    font-weight: 400;
}

.myskill{
    margin-bottom: 130px;
}


/* END OF SKILLS SECTION */

/* ABOUT ME SECTION */

.about{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    background-image: url('/images/pexels-gdtography-911738.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.about .sub_about .about_text .about_head p{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.about_sub_head h1{
    color: orangered;
    font-size: 36px;
    font-weight: 300;
}

.about_sub_head{
    margin-bottom: 50px;
}

.about_sub_text h5{
    font-size: 17px;
    line-height: 30px;
    color: #303030;
    font-weight: 500;
}

.about_sub_text{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.free{
    color: #337ab7;
}

.free:hover{
    color: darkblue;
    text-decoration-line: underline;
}

.sub_about,
.about_text{
    height: 100%;
}

/* END OF ABOUT ME SECTION */

/* CONTACT US SECTION */

.contact_us{
    width: 100%;
}

.facebook{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #3b5998;
}

.facebook:hover,
.twitter:hover,
.pinterest:hover{
    background-color: black;
    transition-duration: 1s;
}

.fbk_text,
.twt_text,
.pin_text{
    padding-left: 20px;
    display: grid;
    row-gap: 20px;
}

.fbk_head p,
.twt_head p,
.pin_head p{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.fbk_head_text h3,
.twt_head_text h3,
.pin_head_text h3{
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.twitter{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #55acee;
}

.pinterest{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #cc2127;
}

.fbk_sec,
.twt_sec,
.pin_sec{
    display: flex;
}

.fbk_icon,
.twt_icon,
.pin_icon{
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    background-color: white;
}

.bxl-facebook,
.bxl-twitter,
.bxl-pinterest{
    padding-left: 15px;
    padding-right: 15px;
    color: #606060;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

/* END OF CONTACT US SECTION */

/* DROP A LINE SECTION */
.drop_line{
    margin-top: 130px;
    width: 100%;
}

.drop_line .sub_drop_line .drop_line_head h2{
    font-size: 65px;
    font-weight: 500;
    color: #303030;
    text-align: center;
    padding-right: 30px;
}

.drop_line_form{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 100px;
    width: 100%;
}

.forms{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullname,
.your_email,
.number,
.subject,
.message,
.submit_btn{
    border: 1px solid #606060;
    background-color: white;
    color: black;
    font-size: 15px;
    padding-bottom: 10px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.fullname:hover,
.your_email:hover,
.number:hover,
.subject:hover,
.message:hover,
.submit_btn:hover{
    transition-duration: 1s;
    background-color: black;
    color: white;
    
}

.fullname:focus,
.your_email:focus,
.number:focus,
.subject:focus,
.message:focus,
.submit_btn:focus{
    color: white;
    background-color: black;
}

.fullname:active,
.your_email:active,
.number:active,
.subject:active,
.message:active,
.submit_btn:active{
    color: white;
}

.fullname:visited,
.your_email:visited,
.number:visited,
.subject:visited,
.message:visited,
.submit_btn:visited{
    color: white;
}

.message{
    padding-bottom: 60px;
}

.submit_btn{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: orangered;
}


/* FOOTER SECTION */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.inner_footer p{
    color: #606060;
    font-size: 17px;
}
/* END OF FOOTER SECTION */

/* END OF DROP A LINE SECTION */


/*INDICATING DESKTOP SCREENS - DESKTOP, LARGE SCREEN */

@media only screen and (min-width:768px) {
    /* HERO SECTION */
    .title3{
        padding-left: 100px;
        padding-right: 100px;
    }
/* END OF HERO SECTION */

    .desktop_menu {
        display: flex;
        z-index: 9999999;
    }
    nav div .logo{
        z-index: 9999999;
    }
    nav div .hamMenu {
        display: none;
    }
/* MY WORK SECTION */
    .myw_sib .title{
        padding-left: 200px;
    }

    .main_box{
        display: flex;
        flex-direction:row;
        padding-left: 100px;
        padding-right: 100px;
    }
/* END OF MY WORK SECTION */

/* PORTFOLIO SECTION*/

    .port_sib{
        padding-top: 100px;
    }
    .port_tabs .all_tab{
        width: 100%;
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left:15px;
        padding-right: 15px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        color: #9999;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .port_sib{
        padding-left: 400px;
        padding-right: 400px;
    }

    .all_gly,
    .html_gly,
    .wordpress_gly,
    .mobile_gly,
    .photoshop_gly{
        /* display: grid; */
        grid-template-columns: auto auto auto auto;
    }
/* END OF PORTFOLIO SECTION*/

/* MY SKILL SECTION */
.subskill{
    display: flex;
    margin-left: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    column-gap: 70px;
    height: 100%;
}

.myprofile,
.myskill{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}


/* END OF MY SKILL SECTION */

/* ABOUT ME SECTION */
.sub_about{
    margin-right: 100px;
    margin-left: 40%;
}
.about{
    padding-bottom: 100px;
}

/* END OF ABOUT ME SECTION */

/* CONTACT US SECTION */
.contact_us{
    width: 100%;
}

.sub_contact_us{
    display: flex;
    width: 100%;
}

/* END OF CONTACT US SECTION */

/* DROP LINE SECTION */
    .drop_line .sub_drop_line .drop_line_form form{
        padding-left: 17%;
        padding-right: 17%;
    }

    .group6{
        padding-left: 100px;
        padding-right: 100px;
    }


/* END OF DROP LINE SECTION */

}

/* MEDIA QUERY PART */

/* +======= MY SKILLS +=====*/

.navigator {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin: 30px auto;
}
.quality
{
    margin: 20px auto;
}
.text_skl{
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}
.progress, .progress-bar{
    width:100%;
    height: 3px;
    border-radius: 50px;
    position: relative;
}
.progress1{
    width: 100%;
    background-color: orangered;
    border-radius: 50px;
    display: flex;
    z-index: 42;
    position: absolute;
}
.progress2{
    width: 90%;
    background-color: orangered;
    border-radius: 50px;
    display: flex;
    z-index: 42;
    position: absolute;
}
.progress3{
    width: 80%;
    background-color: orangered;
    border-radius: 50px;
    display: flex;
    z-index: 42;
    position: absolute;
}
.progress_bar_back{
    background: #eee;
    border-radius: 50px;
    height: 3px;
    z-index: -3;
    position: absolute;
    width: 100%;
}
.text_skl span{
    width: 10%;
}

.navigator .text_skl strong,
.navigator .text_skl span{
    font-weight: 300;
    font-size: 15px;
    color: #606060;
}

/* +=====END OF SKILLS SECTION+===== */



